In [3]:
import pandas as pd
df=pd.read_excel("C:/Users/PC/Downloads/us_youtube_trending.xlsx")
df.head(10)

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
0,2kyS6SvSYSE,2017-11-14,CaseyNeistat,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,False,False
1,1ZAPwfrtAFY,2017-11-14,LastWeekTonight,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703,False,False
2,5qpjK5DgCt4,2017-11-14,Rudy Mancuso,23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181,False,False
3,puqaWrEC7tY,2017-11-14,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146,False,False
4,d380meD0W0M,2017-11-14,nigahiga,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518,False,False
5,gHZ1Qz0KiKM,2017-11-14,iJustine,28,2017-11-13T19:07:23.000Z,119180,9763,511,1434,False,False
6,39idVpFF7NQ,2017-11-14,Saturday Night Live,24,2017-11-12T05:37:17.000Z,2103417,15993,2445,1970,False,False
7,nc99ccSXST0,2017-11-14,CrazyRussianHacker,28,2017-11-12T21:50:37.000Z,817732,23663,778,3432,False,False
8,jr9QtXwC9vc,2017-11-14,20th Century Fox,1,2017-11-13T14:00:23.000Z,826059,3543,119,340,False,False
9,TUmyygCMMGA,2017-11-14,Vox,25,2017-11-13T13:45:16.000Z,256426,12654,1363,2368,False,False

In [5]:
task1=df.dropna(subset=['video_id'])
task1

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
0,2kyS6SvSYSE,2017-11-14,CaseyNeistat,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,False,False
1,1ZAPwfrtAFY,2017-11-14,LastWeekTonight,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703,False,False
2,5qpjK5DgCt4,2017-11-14,Rudy Mancuso,23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181,False,False
3,puqaWrEC7tY,2017-11-14,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146,False,False
4,d380meD0W0M,2017-11-14,nigahiga,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9876,OVnxBcS5qWo,2018-02-01,Nintendo,20,2018-01-25T21:25:58.000Z,434156,14685,411,2277,False,False
9877,ltzy5vRmN8Q,2018-02-01,BURGER KING,24,2018-01-24T14:08:29.000Z,4003530,119341,9363,20414,False,False
9878,NEmFS50lsTw,2018-02-01,SKITTLESbrand,24,2018-01-24T15:31:57.000Z,483127,3924,362,506,False,False
9879,NZ0ImXT1FZk,2018-02-01,Brave Wilderness,15,2018-01-24T12:00:02.000Z,1417253,44358,893,6858,False,False
9880,t3z_pdr6z8w,2018-02-01,Jackie Aina,26,2018-01-25T05:05:42.000Z,877585,115391,1621,15749,False,False

In [66]:
task2=df[df.duplicated(['video_id'])]
task2

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
550,9KIP-Ncp2jU,2017-11-16,12 News,22,2017-11-11T01:03:01.000Z,92327,182,45,0,False,False
9087,PluaPvhkIMU,2017-12-29,20th Century Fox,1,2017-12-19T13:59:38.000Z,786805,15095,128,857,False,False
4299,ykHeGtN4m94,2017-12-05,20th Century Fox,1,2017-11-28T21:28:53.000Z,2946557,73493,3202,5256,False,False
4522,ykHeGtN4m94,2017-12-06,20th Century Fox,1,2017-11-28T21:28:53.000Z,3015447,75194,3257,5202,False,False
5595,aj8mN_7Apcw,2017-12-12,20th Century Fox,1,2017-12-08T19:30:09.000Z,5721665,47679,6866,11184,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7592,NePlddZpNKs,2017-12-22,wdwmagic,19,2017-12-18T22:00:48.000Z,1010286,11578,8786,9515,False,False
7130,NePlddZpNKs,2017-12-20,wdwmagic,19,2017-12-18T22:00:48.000Z,792374,10060,7688,8804,False,False
6921,NePlddZpNKs,2017-12-19,wdwmagic,19,2017-12-18T22:00:48.000Z,188213,4174,2743,2525,False,False
7821,NePlddZpNKs,2017-12-23,wdwmagic,19,2017-12-18T22:00:48.000Z,1028272,11643,8835,9649,False,False
8887,NePlddZpNKs,2017-12-28,wdwmagic,19,2017-12-18T22:00:48.000Z,1069986,11867,9000,9762,False,False

In [21]:
task4_1=df.dtypes
task4_2a=pd.to_datetime(df['trending_date'])
task4_2b=pd.to_datetime(df['publish_time'])
task4_2b

0      2017-11-13 17:13:01+00:00
1      2017-11-13 07:30:00+00:00
2      2017-11-12 19:05:24+00:00
3      2017-11-13 11:00:04+00:00
4      2017-11-12 18:01:41+00:00
                  ...
9876   2018-01-25 21:25:58+00:00
9877   2018-01-24 14:08:29+00:00
9878   2018-01-24 15:31:57+00:00
9879   2018-01-24 12:00:02+00:00
9880   2018-01-25 05:05:42+00:00
Name: publish_time, Length: 9881, dtype: datetime64[ns, UTC]

In [18]:
task3=df.drop_duplicates(subset=['video_id'],keep='last')
task3

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
10,9wRQljFNDW8,2017-11-14,NFL,17,2017-11-13T02:05:26.000Z,81377,655,25,177,False,False
36,Om_zGhJLZ5U,2017-11-14,Screen Junkies,1,2017-11-12T18:00:03.000Z,288922,7515,792,2111,False,False
41,goP4Z5wyOlM,2017-11-14,BBC News,25,2017-11-12T21:16:40.000Z,34785,308,26,413,False,False
54,8NHA23f7LvU,2017-11-14,The Graham Norton Show,24,2017-11-10T19:06:23.000Z,1496225,16116,236,605,False,False
75,IE-xepGLVt8,2017-11-14,Mayo Clinic,28,2017-11-10T12:04:17.000Z,237307,1896,74,260,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9876,OVnxBcS5qWo,2018-02-01,Nintendo,20,2018-01-25T21:25:58.000Z,434156,14685,411,2277,False,False
9877,ltzy5vRmN8Q,2018-02-01,BURGER KING,24,2018-01-24T14:08:29.000Z,4003530,119341,9363,20414,False,False
9878,NEmFS50lsTw,2018-02-01,SKITTLESbrand,24,2018-01-24T15:31:57.000Z,483127,3924,362,506,False,False
9879,NZ0ImXT1FZk,2018-02-01,Brave Wilderness,15,2018-01-24T12:00:02.000Z,1417253,44358,893,6858,False,False
9880,t3z_pdr6z8w,2018-02-01,Jackie Aina,26,2018-01-25T05:05:42.000Z,877585,115391,1621,15749,False,False

In [63]:
task6_1 = df.sort_values(by=['channel_title'], ascending=True)
task6_2 = task6_1.sort_values(by=['views'], ascending=False)
task6_2

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
6103,FlsCjmMhFmw,2017-12-14,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,149376127,3093544,1643059,810698,False,False
5860,FlsCjmMhFmw,2017-12-13,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,137843120,3014471,1602383,817582,False,False
5629,FlsCjmMhFmw,2017-12-12,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,125432237,2912702,1545015,807558,False,False
5386,FlsCjmMhFmw,2017-12-11,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,113874632,2811215,1470383,787174,False,False
2558,TyHvyGVs42U,2017-11-26,LuisFonsiVEVO,10,2017-11-17T05:00:01.000Z,102012605,2376636,117196,134224,False,False
...,...,...,...,...,...,...,...,...,...,...,...
42,NZFhMSgbKKM,2017-11-14,Ben Rohrbach,17,2017-11-13T15:11:00.000Z,945,7,5,8,False,False
1102,g3VgrgV3kFk,2017-11-19,Single Shot,17,2017-11-16T22:50:00.000Z,920,3,1,1,False,False
159,qg0GdM60syI,2017-11-14,90s Commercials,27,2017-03-31T21:46:53.000Z,773,2,0,0,False,False
769,NaN,2017-11-17,GoDucksdotcom,17,2017-11-13T20:41:45.000Z,704,10,2,5,False,False
541,NaN,2017-11-16,GoDucksdotcom,17,2017-11-13T20:41:45.000Z,687,10,2,5,False,False

In [35]:
task7= df[(df.views > 10000000) & (df.likes > 100000)]
task7_2 = task7.sort_values(by=['comment_count'], ascending=False).head(5)
task7_2

,video_id,trending_date,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
4961,FlsCjmMhFmw,2017-12-09,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,75969469,2251797,1127798,827755,False,False
5860,FlsCjmMhFmw,2017-12-13,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,137843120,3014471,1602383,817582,False,False
6103,FlsCjmMhFmw,2017-12-14,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,149376127,3093544,1643059,810698,False,False
5629,FlsCjmMhFmw,2017-12-12,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,125432237,2912702,1545015,807558,False,False
5386,FlsCjmMhFmw,2017-12-11,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,113874632,2811215,1470383,787174,False,False

In [14]:
task8=df[(df['comments_disabled']==True) & (df['ratings_disabled']==True)].groupby(by=["category_id","channel_title"]).count()
task8

                                          video_id  trending_date  \
category_id channel_title
1           hudsonunionsociety                   7              7
10          Snapchat                             8              8
17          Alpha Entertainment                  1              1
            Pac-12 Networks                      6              6
24          HARRY                                4              4
25          American Bridge 21st Century         1              1
28          Slooh                                1              1
29          Define American                      4              4

                                          publish_time  views  likes  \
category_id channel_title
1           hudsonunionsociety                       7      7      7
10          Snapchat                                 8      8      8
17          Alpha Entertainment                      1      1      1
            Pac-12 Networks                          6      6      6
24          HARRY                                    4      4      4
25          American Bridge 21st Century             1      1      1
28          Slooh                                    1      1      1
29          Define American                          4      4      4

                                          dislikes  comment_count  \
category_id channel_title
1           hudsonunionsociety                   7              7
10          Snapchat                             8              8
17          Alpha Entertainment                  1              1
            Pac-12 Networks                      6              6
24          HARRY                                4              4
25          American Bridge 21st Century         1              1
28          Slooh                                1              1
29          Define American                      4              4

                                          comments_disabled  ratings_disabled
category_id channel_title
1           hudsonunionsociety                            7                 7
10          Snapchat                                      8                 8
17          Alpha Entertainment                           1                 1
            Pac-12 Networks                               6                 6
24          HARRY                                         4                 4
25          American Bridge 21st Century                  1                 1
28          Slooh                                         1                 1
29          Define American                               4                 4

In [79]:
task5=df.describe()
task5

       category_id         views         likes      dislikes  comment_count
count  9881.000000  9.881000e+03  9.881000e+03  9.881000e+03    9881.000000
mean     19.970347  1.288900e+06  4.746089e+04  3.066993e+03    5817.316668
std       7.544083  5.110157e+06  1.705132e+05  3.889208e+04   30624.868658
min       1.000000  6.870000e+02  0.000000e+00  0.000000e+00       0.000000
25%      17.000000  8.960900e+04  2.031000e+03  8.500000e+01     273.000000
50%      24.000000  3.116210e+05  9.003000e+03  3.250000e+02    1031.000000
75%      25.000000  1.001367e+06  2.942500e+04  1.131000e+03    3377.000000
max      43.000000  1.493761e+08  3.093544e+06  1.643059e+06  827755.000000

In [80]:
task5_1 = df.corr()
task5_1

,category_id,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled
category_id,1.000000,-0.068531,-0.092913,0.002402,-0.022163,0.053657,-0.052243
views,-0.068531,1.000000,0.880433,0.673456,0.775262,-0.017610,-0.010271
likes,-0.092913,0.880433,1.000000,0.530022,0.850243,-0.030216,-0.019651
dislikes,0.002402,0.673456,0.530022,1.000000,0.756843,-0.000411,-0.005567
comment_count,-0.022163,0.775262,0.850243,0.756843,1.000000,-0.026670,-0.012661
comments_disabled,0.053657,-0.017610,-0.030216,-0.000411,-0.026670,1.000000,0.324941
ratings_disabled,-0.052243,-0.010271,-0.019651,-0.005567,-0.012661,0.324941,1.000000